language: node_js

node_js:
  - stable
  - "10"
  - "8"

addons:
  sonarcloud:
    organization: han-feng-github
    token:
      secure: $SONAR_CLOUD_TOKEN

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - npm run build
  - npm test

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

after_success:
  - npx codecov --token=$CODECOV_TOKEN
  - sonar-scanner
  - cat ./coverage/lcov.info | npx codacy-coverage --projectName modular --token $CODACY_PROJECT_TOKEN --username han-feng --accountToken $CODACY_API_TOKEN
